.characterSelect {
  position: absolute;
  width: 90vw;
  height: 25vh;
  bottom: 5vh;
  margin: 0 4vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 24px;
  grid-gap: 0.1em;
}
.characterIcons {
  border: 2px solid var(--white);
  background-size: cover;
}
.characterIcons {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.lastIcon {
  display: flex;
  justify-content: center;
  border: none;
}
.lastIcon p {
  align-self: center;
  font-size: 1em;
  color: var(--white);
  text-shadow: 2px 2px black;
}

.lastIcon svg {
  height: 1.3em;
  align-self: center;
  fill: var(--white);
}

.characterSelect {
  border: 3px solid black;
  border-radius: 0px;
}
.characterIcons {
  cursor: pointer;
  background-color: white;
}
.characterIcons:nth-child(1),
.characterIcons:nth-child(2),
.characterIcons:nth-child(3),
.characterIcons:nth-child(4) {
  border-bottom: 3px solid black;
}
.characterIcons:nth-child(1),
.characterIcons:nth-child(2),
.characterIcons:nth-child(3),
.characterIcons:nth-child(5),
.characterIcons:nth-child(6),
.characterIcons:nth-child(7) {
  border-right: 3px solid black;
}

.characterIcons:hover {
  background-color: var(--lightblue);
  transition-duration: 0.5s;
}
.lastIcon {
  background-color: transparent;
}
