.characterSelect {
  position: absolute;
  width: 90vw;
  height: 25vh;
  bottom: 10vh;
  margin: 0 4vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 24px;
}
.characterIcons {
  border: 4px solid var(--white);
  background-size: cover;
}

.lastIcon {
  display: flex;
  justify-content: center;
  border: none;
}
.lastIcon p {
  align-self: center;
  font-size: 2em;
  color: var(--white);
  text-shadow: 2px 2px black;
}

.lastIcon svg {
  height: 1.3em;
  align-self: center;
  fill: var(--white);
}
