.pageTitle h2 {
  text-transform: uppercase;
  font-size: 5.2em;
  color: white;
  text-align: center;
  padding-top: 3vh;
  text-shadow: rgb(0, 0, 0) 5px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.homeHeader {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
}

.homeHeader p {
  color: white;
  padding: 0 5vw;
  font-size: 2.5em;
  line-height: 1.2em;
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}
.homeHeader p span {
  color: var(--blue);
  font-weight: 600;
  font-style: normal;
}

.homeHeader-pickle {
  margin-top: 3vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 10vw;
}

.homeHeader-pickle img {
  width: 48%;
  animation: wheel-one 20s linear infinite;
  transform-origin: center;
}

@keyframes wheel-one {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
